<?xml version="1.0"?>

<!--
Tue Nov 1 23:06:10 EET 2016, Nikos Koukis

Launchfile provides a wrapper for running mrpt_graphslam_2d in an online setup.
It is assumed that the underlying drivers (laserScanners, cameras have already
been configured and are running so that their corresponding measurements are
available (see setup_slam_agent.launch for the latter).

-->

<launch>
	<arg name="porcelain_dir" value="$(find csl_hw_setup)/launch/porcelain" />
    <arg name="plumb_dir" value="$(find csl_hw_setup)/launch/plumbing" />
    <arg name="robot_ns" default="$(env MR_ROBOT_MODEL)_$(env MR_ROBOT_ID)" />
    <arg name="output" value="$(env MR_OUTPUT_MESSAGES_TO)" />

	<group ns="$(arg robot_ns)">

		<!-- Run single-robot graphSLAM -->
		<include file="$(find mrpt_graphslam_2d)/launch/graphslam.launch">
			<arg name="output" value="$(arg output)" />
			<arg name="global_frame_ID" value="$(env MR_ORIGIN_MARKER_ID)" />
			<arg name="NRD" value="CFixedIntervalsNRD" />
			<arg name="ERD" value="CICPCriteriaERD" />
			<arg name="GSO" value="CLevMarqGSO" />
			<arg name="ros_is_simulation" value="0" />
		</include>

	</group>

	<group if="$(env MR_COMPUTE_GROUND_TRUTH)">

		<!-- Get ground-truth estimation of the robot paths -->
		<include file="$(find ground_truth_fetcher)/launch/ground_truth_real.launch">
			<arg name="origin_marker_ID" value="$(env MR_ORIGIN_MARKER_ID)" />
		</include>

	</group>

    <!-- Record topics -->
    <group if="$(env MR_RECORD_TOPICS)">
        <arg name="exclusion_topics" value="/top_left_camera/(.*)|/top_right_camera/(.*)|/(.*)/compressedDepth" />
	    <node pkg="rosbag" type="record" name="rosbag_recorder" output="$(arg output)" args="--all -x '$(arg exclusion_topics)' -O records.bag" />
	</group>


</launch>
