<?xml version="1.0"?>

<!--

Main launchfile for setting up *a single agent* for MR-SLAM. It practically
provides a wrapper around other available low-level launchfiles of plumbing
dir.

Use this only when using the algorithm for single-robot SLAM purposes.
Otherwise use the setup_mr_slam which makes the necessary calls to this
launchfile for every MR-SLAM agent.

-->

<launch>

<arg name="output"        default="$(env MR_OUTPUT_MESSAGES_TO)"  />
<arg name="plumb_dir" value="$(find csl_mr_slam)/launch/plumbing" />
<arg name="porcelain_dir" value="$(find csl_mr_slam)/launch/porcelain" />
<arg name = "robot_ns" defalut="$(env MR_ROBOT_MODEL)_$(env MR_ROBOT_ID)" />

<!-- Simulation Time? -->
<param name="/use_sim_time" default="$(env MR_IS_SIMULATION)" />

<!-- Use Multimaster? -->
<group if="$(env MR_USE_MULTIMASTER)">
    <include file="$(arg plumb_dir)/setup_multimaster.launch">
    </include>
</group>

<group ns="$(arg robot_ns)" clear_params="true">

    <!-- Robot HW Drivers -->
    <group unless="$(env MR_IS_SIMULATION)">
        <group if="$(env MR_ROBOT_DRIVERS_USE_POULIAS)">
            <include file="$(arg plumb_dir)/setup_drivers_pioneer_poulias.launch">
            </include>
        </group>
        <group if="$(env MR_ROBOT_DRIVERS_USE_YOUBOT)">
            <include file="$(arg plumb_dir)/setup_drivers_youbot.launch">
            </include>
        </group>
        <group if="$(env MR_ROBOT_DRIVERS_USE_ARIA)">
            <include file="$(arg plumb_dir)/setup_drivers_aria.launch">
            </include>
        </group>

        <!-- Laser Scan Matcher -->
        <group if="$(env MR_USE_REAL_LASER)">
            <include file="$(arg plumb_dir)/setup_laser_$(env MR_LASER_NAME).launch">
            </include>
        </group>
    </group>

    <!-- Record topics -->
    <group if="$(env MR_RECORD_TOPICS)">
	    <node
	        pkg="rosbag"
	        type="record" name="rosbag_recorder"
	        output="$(arg output)"
	        args="--all -O $(env MR_ROSBAG_DIR)/records.bag" />
	</group>

    <!-- Play rosbag if use_sim_time == true -->

</group>

</launch>
