<?xml version="1.0"?>

<!--

Setup the hardware drivers and other platform-specific nodes for a SLAM agent.
Launchfile is to be run on the platform that traverses the environment during
the SLAM procedure. That platform is not necessarily the platform that the SLAM
computations take place (see run_sr_graphslam.launch for the latter).

-->

<launch>

    <arg name="output" value="$(env MR_OUTPUT_MESSAGES_TO)"  />
    <arg name="plumb_dir" value="$(find csl_hw_setup)/launch/plumbing" />
    <arg name="porcelain_dir" value="$(find csl_hw_setup)/launch/porcelain" />
    <arg name="robot_ns" default="$(env MR_ROBOT_MODEL)_$(env MR_ROBOT_ID)" />

    <!--
        Should this node record topics as well? Argument *should not* be the
        same as the MR_RECORD_TOPICS env variable since this launchfile is run
        on the data acquisition machine which may not share the same roscore as
        the machine doing the ground-truth (so in this case we should be
        recording the topics on both the data-acquisition machine as well as in
        the machine that computes the ground-truth.
    -->

    <arg name="do_record_topics" default="false" />

    <!-- Simulation Time? -->
    <param name="/use_sim_time" value="false" />

    <group ns="$(arg robot_ns)">

        <!-- Use Multimaster? -->
        <group if="$(env MR_USE_MULTIMASTER)">
            <include file="$(arg plumb_dir)/setup_multimaster.launch">
            </include>
        </group>

        <!-- Robot HW Drivers -->
        <include file="$(arg plumb_dir)/setup_drivers_$(env MR_ROBOT_DRIVERS_NAME).launch">
        </include>

        <!-- LaserScan Matcher -->
        <group if="$(env MR_USE_LASER)">
            <include file="$(arg plumb_dir)/setup_laser_$(env MR_LASER_NAME).launch">
            </include>
        </group>

        <!-- Camera Sensor for identifying the relative transformation to
             another robot -->
        <group if="$(env MR_USE_ONBOARD_CAMERA)">
            <include file="$(arg plumb_dir)/setup_onboard_camera.launch"/>
        </group>

        <!-- Enable joystick teleoperation -->
        <!-- TODO - test it real time again -->
        <group if="$(env MR_USE_JOYSTICK)">
            <include file="$(arg plumb_dir)/teleop_$(env MR_JOYSTICK_FOR).launch">
                <arg
                    name="config"
                    value="$(find csl_hw_setup)/config/joystick/$(env MR_JOYSTICK_CONFIG_FNAME).config.yaml" />
                <arg name="joystick_port" value="$(env MR_JOYSTICK_PORT)" />
            </include>
        </group>

    </group>

    <!-- Record topics -->
    <group if="$(arg do_record_topics)">
        <arg name="exclusion_topics" value="" />
	    <node pkg="rosbag" type="record" name="rosbag_recorder" output="$(arg output)" args="--all -x '$(arg exclusion_topics)' -O records.bag" />
	</group>


</launch>
