<?xml version="1.0"?>

<!--

Current launchfile contains a wrapper around the setup_graphSLAM_agent.launch
and run_graphSLAM_real.launch launchfiles. Its goal is to setup and run
graphSLAM in a single command. Refer to those files for further documentation

-->

<launch>
    <arg name="output" value="$(env MR_OUTPUT_MESSAGES_TO)"  />
    <arg name="plumb_dir" value="$(find csl_hw_setup)/launch/plumbing" />
    <arg name="porcelain_dir" value="$(find csl_hw_setup)/launch/porcelain" />
    <arg name="common_dir" value="$(find csl_common)/launch" />

    <include file="$(arg porcelain_dir)/setup_graphSLAM_agent.launch">
    </include>
    <include file="$(arg porcelain_dir)/run_graphSLAM_real.launch">
    </include>

</launch>
