<?xml version="1.0"?>

<!--
Launchfile setups the gazebo simulation environment according to the
corresponding environment variables set.

-->

<launch>
    <param name="/use_sim_time" value="true" />

    <!-- Launch the world -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!--<arg name="world_name" value="$(find csl_robots_gazebo)/worlds/mr_graphslam.world"/>-->
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <!-- Spawn the building -->
    <node name="building_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	    args="-file $(find csl_robots_gazebo)/models/ktM_second_floor_unused_office/model.sdf -z 0 -sdf -model ktM_building" />

    <!-- Setup the robots -->
	<include file="$(find csl_robots_gazebo)/launch/setup_robots.launch" />


</launch>
