<?xml version="1.0" ?>
<model>
    <name>ktM_2nd_floor</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Nikos Koukis</name>
        <email>nickkouk@gmail.com</email>
    </author>
    <description>M_building_2nd_floor_unused_office</description>
</model>
