<?xml version="1.0"?>

<!--
    # Thu May 18 21:55:31 EEST 2017, Nikos Koukis
    Setup the state publishers for visualizing the robot models in rviz
-->

<launch>
    <arg name="output" value="$(env MR_OUTPUT_MESSAGES_TO)" />
    <arg name="tf_prefix" default="" />

    <param name="tf_prefix" value="$(arg tf_prefix)"/>  <!-- Needed for correct splitting of TF frames -->
    <arg name="robot_description"/>

    <!-- This is read by the JOINT_state_publisher -->
    <param name="robot_description" command="$(arg robot_description)" />
    <!--<param name="/robot_description" command="$(arg robot_description)" />-->

    <!-- inform robot_state_publisher of TFs for continuous links -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="$(arg output)">
    </node>

    <!-- publish TFs for fixed links -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="$(arg output)">
        <param name="~publish_frequency" type="double" value="30.0"/>
    </node>
</launch>
