<?xml version="1.0"?>

<!--
Mon Nov 21 18:06:41 EET 2016, Nikos Koukis

Wrapper for executing mrpt_graphslam_2d. Launchfile launches graphslam for a
single robot. Use the nodes/graphslam_launcher.py in case you want to launch
multiple nodes according to the set shell environment variables

-->

<launch>
    <arg name="output" value="$(env MR_OUTPUT_MESSAGES_TO)"/>

    <arg name="launch_dir" value="$(find csl_robots_gazebo)/launch" />
	<arg name="porcelain_dir" value="$(arg launch_dir)/porcelain" />
    <arg name="plumb_dir" value="$(arg launch_dir)/plumbing" />

    <arg name="robot_name" default="pioneer_3at" />
    <arg name="anchor_frame_ID" value="$(arg robot_name)/odom" />

    <!-- Deciders/Optimizer -->
    <arg name="NRD" default="CFixedIntervalsNRD" />
    <arg name="ERD" default="CLoopCloserERD_MR" />
    <arg name="GSO" default="CLevMarqGSO" />

    <arg name="disable_MRPT_visuals" default="false" />

	<group ns="$(arg robot_name)">

		<include file="$(find mrpt_graphslam_2d)/launch/graphslam.launch">
			<arg name="output" value="$(arg output)" />
            <arg name = "config_file" value = "$(find mrpt_graphslam_2d)/config/ros_odometry_2DRangeScans_LC_MR.ini"  />
            <!--<arg name = "config_file" value = "$(find mrpt_graphslam_2d)/config/ros_laser_odometry.ini"  />-->
            <!--<arg name = "config_file" value = "$(find mrpt_graphslam_2d)/config/ros_odometry_2DRangeScans_LC.ini"  />-->
			<arg name="anchor_frame_ID" value="$(arg anchor_frame_ID)" />
			<arg name="NRD" value="$(arg NRD)" />
			<!--<arg name="NRD" value="CICPCriteriaNRD" />-->
            <arg name="ERD" value="$(arg ERD)" />
            <!--<arg name="ERD" value="CLoopCloserERD" />-->
			<arg name="GSO" value="$(arg GSO)" />
            <arg name="disable_MRPT_visuals" value="$(arg disable_MRPT_visuals)" />
		</include>

	</group>

</launch>
