<?xml version="1.0"?>

<!--
Mon Nov 21 17:30:20 EET 2016, Nikos Koukis

Setup the model for a single robot agent in the Gazebo simulation environment.
Launchfile *does not* set up the graphslam-related processes. Refer to
ru_single_graphSLAM_simul.launch for the latter

Note: ROS Topic namespace of the specific robot agent is going to be its *name* 
      See the -namespace arg in the spawn_model node directive.

-->

<launch>
    <arg name="output" value="$(env MR_OUTPUT_MESSAGES_TO)"/>

    <arg name="launch_dir" value="$(find csl_robots_gazebo)/launch" />
	<arg name="porcelain_dir" value="$(arg launch_dir)/porcelain" />
    <arg name="plumb_dir" value="$(arg launch_dir)/plumbing" />
    <arg name="common_dir" value="$(find csl_common)/launch" />


    <arg name="camera_name" value="camera1" />

    <arg name="robot_name" default="pioneer_3at" />
    <arg name="robot_type" default="pioneer_3at" />

    <arg name="pos_x" default="0.0" />
    <arg name="pos_y" default="0.0" />
    <arg name="pos_z" default="0.02" />
    <arg name="rot_x" default="0.0" />
    <arg name="rot_y" default="0.0" />
    <arg name="rot_z" default="0.0" />
    <arg name="position_args" value="-x $(arg pos_x) -y $(arg pos_y) -z $(arg pos_z) -R $(arg rot_x) -P $(arg rot_y) -Y $(arg rot_z)" />


    <!-- Launch ar_sys nodes only in multi-robot graphSLAM setup -->
    <arg name="launch_ar_sys" value="$(env MR_IS_MULTIROBOT_GRAPHSLAM)" />

    <arg name="start_robot_control" value="$(env MR_USE_RQT_ROBOT_STEERING)"/>

    <group ns="$(arg robot_name)">

        <!-- State publishers for rviz robot models-->
        <include file="$(arg common_dir)/setup_state_publishers.launch">
            <arg name="tf_prefix" value="$(arg robot_name)"/>
            <arg name="robot_description" value="$(find xacro)/xacro --inorder $(find csl_robot_descriptions)/defs/$(arg robot_type).xacro camera_name:=$(arg camera_name)"/>
        </include>

        <!-- Spawn robot in gazebo based on xacro
             robot_description should is filled in the include call to setup_state_publishers.launch
             -->
        <node name="spawn_pioneer" pkg="gazebo_ros" type="spawn_model"
            args="$(arg position_args) -urdf -param /robot_description -model $(arg robot_name) -namespace /$(arg robot_name)"
            respawn="false" output="$(arg output)" />

        <!-- Launch rsys -->
        <group if="$(arg launch_ar_sys)">
            <include file="$(arg plumb_dir)/setup_single_ar_sys.launch">
                <arg name="robot_name" value="$(arg robot_name)" />
                <arg name="camera_name" value="$(arg camera_name)" />
            </include>
        </group>

        <!-- Launch controls -->
        <!-- rqt is shit at exporting/importing perspectives - do everything manually! -->
        <group if="$(arg start_robot_control)">
            <include file="$(arg plumb_dir)/setup_single_robot_control.launch">
                <arg name="robot_name" value="$(arg robot_name)"/>
            </include>
        </group>
    </group>
</launch>
