<?xml version="1.0"?>

<!--
Fri Oct 21 19:57:25 EEST 2016, Nikos Koukis
Current node correctly sets up the mutlimaster configuration.
-->

<launch>

<arg name="output" default="screen" />

<node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="$(arg output)" />
<node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="$(arg output )" />

</launch>
