<?xml version="1.0"?>

<!--
Mon Sep 26 21:29:42 EEST 2016, Nikos Koukis

Launchfile is used for starting up all the necessary nodes in order to drive
around a robot either pioneer-3dx or pioneer-2at

The following situation is assumed:
- An arduino is used for controlling the motors of the wheel motors.
Communication with the arduino is achived via a /dev device.

-->
<launch>

	<!-- LAUNCH ARGUMENTS -->
	<arg name="arduino_port"  value="$(env MR_POULIAS_ARDUINO_PORT)"/>
	<arg name="output"        value="$(env MR_OUTPUT_MESSAGES_TO)"/>
	<arg name="robot_model"   default="$(env MR_ROBOT_MODEL)"/>
	<arg name="odom_topic"    default="$(env MR_ROBOT_MODEL)_$(env MR_ROBOT_ID)/input/odom"/>


    <!-- LAUNCH PARAMETERS -->
	<param name="arduino/port" value="$(arg arduino_port)"  />

	<!-- NODES TO BE LAUNCHED -->
	<node pkg="arduino_mr" type="$(arg robot_model).py" name="$(arg robot_model)" output="$(arg output)" args="/pioneer/position_odom:=$(arg odom_topic)" />

</launch>
