<?xml version="1.0"?>

<!--
Launchifle launches the necessary nodes for setting a youbot in a MR-SLAM
framework

-->

<launch>

<arg name = "robot_ns" value = "$(env ROBOT_MODEL)_$(env ROBOT_ID)" />

<remap from="/cmd_vel" to="$(robot_ns)/input/cmd_vel" />
<remap from="/odom" to="$(robot_ns)/input/cmd_vel" />
<include file="$(find youbot_ros_interface)/launch/youbot_driver.launch"/>

</launch>
