<?xml version="1.0"?>

<!--
Launchifle launches the necessary nodes for setting a Pioneer, using the Aria
library for communication with the drivers
-->

<launch>
	<arg name="communication_port" default="$(env MR_DRIVERS_PORT)"/>
	<arg name="output" value="$(env MR_OUTPUT_MESSAGES_TO)"/>
    <arg name="robot_ns" value="$(env MR_ROBOT_NS)" />

    <arg name="node_name" value="drivers"/>

    <remap from="/$(arg robot_ns)/$(arg node_name)/cmd_vel" to="/$(arg robot_ns)/input/cmd_vel" />
    <remap from="/$(arg robot_ns)/$(arg node_name)/pose" to="/$(arg robot_ns)/input/odom" />
    <node pkg="rosaria" type="RosAria" name="$(arg node_name)" output="$(arg output)">
        <param name="port" value="$(arg communication_port)" />
    </node>

</launch>

