<?xml version="1.0"?>

<!--
Mon Sep 26 21:29:42 EEST 2016, Nikos Koukis

Launchfile is used for starting up all the necessary nodes in order to drive
around a robot either pioneer-3dx or pioneer-2at

The following situation is assumed:
- An arduino is used for controlling the motors of the wheel motors.
Communication with the arduino is achived via a /dev device.

-->
<launch>

	<!-- LAUNCH ARGUMENTS -->
	<arg name="communication_port" default="$(env MR_DRIVERS_PORT)"/>
	<arg name="output" value="$(env MR_OUTPUT_MESSAGES_TO)"/>
	<arg name="robot_model" value="$(env MR_ROBOT_MODEL)"/>
	<arg name="robot_ns" value="$(env MR_ROBOT_NS)"/>

	<!-- NODES TO BE LAUNCHED -->
	<remap from="odom" to="/$(arg robot_ns)/input/odom"/>
	<node pkg="arduino_mr" type="$(arg robot_model).py" name="drivers" output="$(arg output)">
	    <param name="~port" value="$(arg communication_port)"  />
	</node>

</launch>
