<?xml version="1.0"?>

<!--
Wed Oct 26 10:01:38 EEST 2016, Nikos Koukis

Setup the Hokuyo Laser ScanMatcher based on the environment variables that have
been set.

-->

<launch>
    <group unless="$(env MR_LASER_USE_URG_NODE_PKG)">
        <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_laser_scanner" output="$(env MR_OUTPUT_MESSAGES_TO)" required="true" >
            <param name="port" value="$(env MR_LASER_PORT)" type="string" />
            <param name="~skip" value="$(env MR_LASER_SKIP_NUM_MESSAGES)" type="int"/>
            <param name="~frame_id" value="$(env MR_LASER_FRAME_ID)" type="string"/>

            <!-- Algorithm received the laser scan in the input/laser_scan topic -->
            <!-- urg_node expects it *relative* to its start at "scan" -->
            <remap from="scan" to="input/laser_scan" />
        </node>
    </group>
    <group if="$(env MR_LASER_USE_URG_NODE_PKG)">
	    <node pkg="urg_node" type="urg_node" name="hokuyo_laser_scanner" output="$(env MR_OUTPUT_MESSAGES_TO)" required="true">
            <param name="~serial_port" value="$(env MR_LASER_PORT)" type="string"/>
            <param name="~skip" value="$(env MR_LASER_SKIP_NUM_MESSAGES)" type="int"/>
            <param name="~frame_id" value="$(env MR_LASER_FRAME_ID)" type="string"/>

	        <remap from="scan" to="input/laser_scan" />
	    </node>
    </group>
</launch>
