<?xml version="1.0"?>

<!--
Launchifle launches the necessary nodes for setting a Pioneer, using the Aria
library for communication with the drivers
-->

<launch>

	<arg name="communication_port" value="$(env MR_DRIVERS_PORT)"/>
	<arg name="robot_model"   default="$(env MR_ROBOT_MODEL)"/>
	<arg name="robot_id" default="$(env MR_ROBOT_ID)"/>
    <arg name="robot_ns" default="$(arg robot_model)_$(arg robot_id)" />

    <remap from="/RosAria/cmd_vel" to="$(arg robot_ns)/input/cmd_vel" />
    <remap from="/RosAria/odom" to="$(arg robot_ns)/input/odom" />
    <node pkg="rosaria" type="RosAria" name="$(arg robot_ns)_drivers" output="$(arg output)">
        <param name="port" value="(arg communication_port)"/>
    </node>

</launch>

